*{box-sizing: border-box;}

.text-center{text-align: center;}

.flex-column{
  display: flex;
  flex-direction: column;
}

form > *{margin-top: .2rem;}

.login-form{
  width: 300px; 
  position: absolute;
  left: 50%;
  top: 25%; 
  margin-left: -150px;  
}

